---
import { getCollection } from "astro:content";

import { Image } from "astro:assets";
import { marked } from "marked";

const title = "KIOSK: The Book";

let products = (await getCollection("products"))
  .filter((p) => p.data.status == "active")
  .map((p) => {
    p.data.type = p.data.product_type
      .toLowerCase()
      .replace(/\s+/g, "-")
      .replace(/\W/g, "");
    p.rendered = marked.parse(p.body.replace(/ø/i, " &Oslash;"));
    return p;
  })
  .sort((a, b) => a.data.title.localeCompare(b.data.title));
//.slice(200, 300);

const exhibits = ["Italy 2","Italy 1","Romania","Recall","Greece","Holiday 2013","Lend a Hand","The Netherlands","Obama 2012","Colombia","India #2","America #4","India","Japan #2","America #3","Iceland","Groundhog Day","Portugal","Provence","America #2","9 for 2009","America #1","Hong Kong","8 Things","Finland","Germany","Mexico","Sweden","Japan"].reverse()
const groups = Object.groupBy(products, ({ data }) => data.product_type);

---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{title}</title>
  </head>

  <body class="font-serif text-gray-900 bg-gray-100 text-lg">
    <main class="text-xl">

      {
        exhibits.map(e=>(
         <>
         <h2 class="font-sans text-2xl">{e}</h2>
         {groups[e]?.map( p => (
          <>{p.data.title} / </> 
         ))}
         </>
        ))
      }
    </main>
  </body>
</html>
