@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-red {
    color: red;
  }
  .border-red {
    border-color: red;
  }
  .text-black {
    color: black;
  }
  .border-black {
    border-color: black;
  }
  .columns-all {
    column-span: all;
  }
  .columns {
    column-count: 2;
  }
  .columns-3 {
    column-count: 3;
  }
  .columns-4 {
    column-count: 4;
  }
  .column-fill-auto {
    column-fill:auto;
  }
}

:root {
  --color: #ff0000;
  --accent: #ff0000;
  --size: 6.5in 9in;
  --size: 8in 8.625in;
  --size: 7.75in 8.5in;
  --size: 16cm 22cm;
  --size: A4;
}

* {
  box-sizing: border-box;
}

html {
  hyphens: auto;
  orphans: 3;
  widows: 4;
  font-size: 9pt;
  font-family: Courier, "Courier New", monospace;
  height: 100%;
  scroll-behavior: smooth;
}
body {
  height: 100%;
  counter-reset: chapter;
}

h1 {
  -prince-bookmark-level: 1;
}
h2 {
  -prince-bookmark-level: 2;
}
h3 {
  -prince-bookmark-level: 3;
}
h4 {
  -prince-bookmark-level: 4;
}
h5 {
  -prince-bookmark-level: 5;
}
h6 {
  -prince-bookmark-level: 6;
}
h1, h2, h3, h4, h5, h6 {
  -prince-line-break-choices: heading;
}

a {
  text-decoration: none;
}

[id] {
  scroll-margin-top: 10vh;
}


.essay,
.exhibit {
  p {
    margin-bottom: 1rem;
  }
}
p:last-of-type {
  margin-bottom: inherit;
}

a.footnote {
  font-style: italic;
  footnote-style-position: inside;
}

a.footnote::after {
  float: footnote page;
  content: attr(href);
  footnote-style-position: inside;
  font-size: 90%;
  font-style: italic;
}

a.footnote::footnote-marker {
  font-size: 90%;
  color: red;
  text-decoration: none;
  content: counter(footnote, asterisks);
}

a.footnote::footnote-call {
  text-decoration: none;
  font-size: 90%;
  color: red;
  content: counter(footnote);
}

.index {
  page: section;
  column-gap: 2em;
  column-fill: auto;
  page-break-after: always;
  string-set: head-title "";
}

.exhibit {
  column-fill: auto;
}

@page {
  size: var(--size);
  margin-top: 0.25in;
  margin-bottom: 0.25in;
  margin-left: 0.25in;
  margin-right: 0.25in;
  border: 2pt double;
  padding: 2rem;
  padding-bottom: 0;

  @footnote {
    border-top: double red 3px; /* The Border Top is the footnote rule */
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    footnote-display: compact;
    footnote-style-position: inside;
  }
}



@page :right {
  margin-left: 0.4in;
  @bottom-right {
    content: "" counter(page) "";
    font-size: 100%;
    font-family: Helvetica;
  }
  @top-right {
    content: "" string(head-title, first-except) "";
    font-size: 100%;
    font-family: Helvetica;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1ch;
  }
  @top-right {
    content: "" string(top-title) "";
    font-size: 100%;
    font-family: Helvetica;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1ch;
  }
}

@page :left {
  margin-right: 0.4in;
  @bottom-left {
    content: "" counter(page) "";
    font-size: 100%;
    font-family: Helvetica;
  }
  @top-left {
    content: "" string(head-title, first-except) "";
    font-size: 100%;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1ch;
  }
}

@page :blank {
  border: none !important;
  @bottom-left {
    content: none !important;
  }
  @bottom-right {
    content: none !important;
  }
  @bottom-center {
    content: none !important;
  }
  @top-left {
    content: none !important;
  }
  @top-right {
    content: none !important;
  }
  @top-center {
    content: none !important;
  }
}

@page cleanpage:left {
  border-color: transparent;
  @bottom-left {
    content: " " !important;
  }
}
@page cleanpage:right {
  border-color: transparent;
  @bottom-right {
    content: " " !important;
  }
}

.nopagenumber {
  page: nopagenumber;
}

@page nopagenumber:left {
  border: 1px solid green;
  @bottom-left {
    content: none;
  }
}
@page nopagenumber:right {
  border: 1px solid green;
  @bottom-right {
    content: none;
  }
}

.figurepage {
  page: figurepage;
}
@page figurepage {
  @leftnote {
  }
  @rightnote {
  }
}

@page exhibit {
  counter-increment: page;
}
@page exhibit:first {
  counter-reset: page;
}
@page essay {
  /* border-left: none;
    border-right: none; */
    background-color: rgb(255, 228, 233);
}
@page essay:blank {
    background-color: none;
}

.essay {
  page: essay;
  column-span: all;
  -x-max-width: 5in;
  -x-margin: 0 auto 2rem auto;
  background-color: rgb(255, 228, 233);
}
.essay img {
  max-width: 100%;
}
.cleanpage {
  page: cleanpage;
}

h2.title {
  font-size: xx-large;
  column-span: all;
  font-family: Helvetica, "Helvetica Neue", sans-serif;
  break-before: recto;
  margin: 10mm 0;
  string-set: head-title content();
  text-wrap: balance;
  hyphens: none;
}

.head-title {
  string-set: top-title content(attr('title'));
  text-wrap: balance;
}


h2 {
  color: red;
}

.subtitle,
.p_title {
  hyphens: none;
}

.p_materials {
  font-style: italic;
}

.p_provenance {
  font-weight: bold;
  text-transform: uppercase;
}

.p_description {
  /* clear:both; */
  /* padding-top: 1em; */
}
.p_description > p {
  /* clear: both; */
  /* margin-bottom: 1rem; */
}

a {
  /* color: black; */
  /* text-decoration: underline; */
  hyphens: none;
}
a.xref {
  display: block;
  text-decoration: none;
  width: 100%;
  border-bottom: 0.8pt dotted black;
}

.product:last-child .product-divider{
  border-color: transparent;
  &::after {
    content: "\25C8";
    position: absolute;
    padding-top: 1em;
    font-size: 1.5em;
    font-weight: normal;
  }
}

@media print {
  a.xref:after {
    content: "pg.\200A"target-counter(attr(href url), page);
    float: right;
  }
  a.img-xref:after {
    content: "" target-counter(attr(href url), page);
  }
}

@media print {
  astro-dev-toolbar {
    display: none;
  }
  .prose p {
    orphans: 3;
    widows: 3;
  }
}
@media screen {
  main {
    margin: auto;
    width: 8.27in;
    border: 2pt double black;
    padding: 2rem;
    position: relative;
  }
  a.xref:after {
    content: "Pg.\200ANN";
    float: right;
  }
  a.img-xref:after {
    content: "NN";
  }
  /* .product:nth-child(5n)::after, */
  .essay::before,
  .exhibit::before,
  .index::before {
    content: " - - - - - - - - - - - - [page break] - - - - - - - - - - - - - - - ";
    min-height: 50vh;
    display: block;
    column-span: all;
    text-align: center;
    width: 100%;
    margin: 0.2in 0;
    border: 0.1pt solid black;
    font-size: initial;
    font-weight: initial;
    font-family: initial;
    color: blue;
  }

}
